@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", serif;
  font-style: normal;
  color: black;
  background-color: rgb(223, 224, 225);
  font-size: 1.4rem;
  line-height: normal;
}

img {
  width: 100%;
  height: auto;
}

.pc__br {
  display: none;
}

.pc__img {
  display: none;
}



/* header */

.header {
  padding: 5px 5.3%;
  position: fixed;
  background-color: rgb(223, 224, 225);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  
  }
  
.header__topic,
.nav__topic {
  width: 63px;
  height: auto;
}
  
.nav {
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transform: translateX(-100%);
  transition: transform 0.4s;

}
  
.nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(223, 224, 225);
  padding: 5px 5.3%;
}
  
.nav__list {
  margin-top: 40px;
  padding-left: 8%;
  padding-right: 8%;
  background-color: #000;
}
  
/* .nav__list li:hover{
  color: #DC5931;
} */


.open__btn {
  border-top: 4px solid #FFF;
  border-bottom: 4px solid #FFF;
  display: flex;
  justify-content: space-between;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  align-items: center;
  padding-bottom: 30px;
  margin-top: 50px;
}

.open__title {
  color: rgba(255, 255, 255, 0.60);
  font-family: Montserrat;
  font-size: 5rem;
  font-weight: 700;
}

.open__right {
  padding-top: 30px;
  width: 20px;
  height: auto;
}

.btn__right {
  padding-top: 30px;
  width: 20px;
  height: auto;
}

  
.nav__item {
  margin-top: 30px;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1.6px;
  
}

.nav__item:hover {
  opacity: 0.4;
}

.nav__list span {
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 1px;
}

  
.nav.active {
  transform: translateX(0);
}
  
/* .nav__buy {
  display: block;
  border-radius: 20px;
  border: 2px solid #FFF;
  background: linear-gradient(270deg, #DB5830 17%, #B4AA40 100%);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.35);
  color: #FFF;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 3.2px;
  padding-top: 28px;
  padding-bottom: 28px;
  transition: 0.4s;
  position: relative;
  margin-top: 50px;
}
  
.nav__buy::after {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url(../images/right1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
}
  
.nav__buy:hover {
  opacity: 0.5;
}
*/
.header__btn {
  display: block;
  width: 20px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  top: 23px;
  right: 5.3%;
}

.nav__btn {
  display: block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  right: 5.3%;
}

.nav__buy--pc {
  display: none;
}

.pc {
  display: none;
}


/* header pc */

@media screen and (min-width: 768px) {
  .header {
    margin: 0 auto;
    padding-left: 6.9%;
    padding-right: 6.9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  .header__topic {
      width: 65px;
      height: auto;
  }

  .nav {
      background-color: #FFF;
      width: auto;
      height: auto;
      padding: 0;
      position: static;
      transform: translate(0);
  }

  .nav__list {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 0;
      width: 100%;
      gap: 20px;
      padding-left: 0;
      padding-right: 0;
      background-color: rgb(223, 224, 225);
      
      
  }


  .nav__item {
      color: #2A2C41;
      font-size: 1.3rem;
      font-weight: 600;
      letter-spacing: 1.3px;
      white-space: nowrap;
      margin-top: 0;
      line-height: 1.2;

  }

  .nav__item:hover {
    color: #006080;
    opacity: 1;
  }

  .nav__item span {
    color: #203E5A;
    font-family: Montserrat;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
    
  }

  .nav__header {
      display: none;
  }


  .header__btn {
      display: none;
  }


  .nav__buy {
    display: none;
  }

  .nav__item--top{
    display: none;
  }

  .nav__buy--pc {
    display: block;
    background: #203E5A;

    position: relative;
  }

  .nav__buy--pc::before {
    content: 'Contact';
    position: absolute;
    top:5px;
    left: 5px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
  }

  .nav__buy--pc:hover {
    background-color: #006080;
  }

    


  .nav__buy--pc p{
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1.6px;
    padding: 15px 10px 10px;
  }

  .pc {
    display: block;
  }

  .sp {
    display: none;
  }

  }


@media screen and (min-width: 1024px) {

  .nav__list {
    gap:50px;
  }

  .header__topic {
    width: 80px;
  }


  .nav__item {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1.6px;
  }

  .nav__item span {
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 1px;

  }

  /* .nav__buy--pc {
    
  } */


  .nav__buy--pc::before {
    font-size: 1.1rem;
    font-weight: 700;
  }

  .nav__buy--pc p {
    font-size: 1.6rem;
    padding: 17px 35px 12px;
  }
}

  


/* footer */

.footer {
  position: relative;
  z-index: 99;
  background-color: rgb(223, 224, 225);
  
}



.footer__flex {
  display: flex;
  align-items: center;
  color: #FFF;
}

.footer__rogo {
  /* background-color: #FFF; */
  background-color: rgb(223, 224, 225);
  /* flex-grow: 4; */
  text-align: center;
}

.footer__rogo img {
  width: 90px;
  height: auto;
  margin-left: 30px;
  margin-right: 30px;
  

}

.footer__contents {
  /* background: #203E5A; */
  padding-bottom: 35px;
  /* padding-left: 20px; */
  /* flex-grow: 6; */
  padding-left: 20px;
  width: 100%;
  background:linear-gradient(45deg, #203E5A,#2A2C41,#203E5A,#2A2C41);/*グラデーションを定義*/
  background-size: 200% 200%;
  animation: footer__contents 10s ease infinite;

  

}


@keyframes footer__contents{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }


}

.footer__title {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1.4px;
  display: block;
  margin-top: 30px;
}

.footer__title:hover {
  opacity: 0.5;
}

.footer__txt {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.footer__txt:hover {
  opacity: 0.4;
}

.footer__txt span {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1.3px;
}



.footer__line {
  width: 20px;
  height: 2px;
  background-color: #FFF;
}


@media screen and (min-width: 500px) {
  .footer__contents {
    padding-left: 90px;
  }

}

@media screen and (min-width: 768px) {


  
  .footer__rogo {
    background-color: rgb(223, 224, 225);
    /* flex-grow: 3; */
    text-align: center;
    
  }
  
  .footer__rogo img {
    width: 250px;
    height: auto;

  
  }
  
  .footer__contents {
    /* background: #203E5A; */
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 0px;
    /* flex-grow: 7; */
  
  }
  
  .footer__title {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1.4px;
    display: block;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  
  .footer__txt {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
  }
  
  .footer__txt span {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1.3px;
  }
  
  
  
  .footer__line {
    width: 20px;
    height: 2px;
    background-color: #FFF;
  }

  .footer__contents {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: center;
    
  }



}

@media screen and (min-width: 1024px) {

  .footer__contents {
    gap: 80px;
    padding-bottom: 80px;
    padding-top: 80px;
  }

    
  .footer__rogo img {
    width: 350px;
    margin-left: 50px;
    margin-right: 50px;
  }

}

@media screen and (min-width: 1440px) {

  .footer__contents {
    gap: 130px;
    padding-bottom: 80px;
    padding-top: 120px;

  }

  .footer__rogo img {
    width: 350px;
    margin-left: 150px;
    margin-right: 150px;
  }

  .footer__title {
    margin-bottom: 45px;
  }

  .footer__title {
    font-size: 1.6rem;
  }

}





/* プライバシー */


.footer__polisy {
  background-color: #000;
  text-align: center;
  color: #FFF;
  font-size: 1.1rem;
  padding-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.copy {
  color: #FFF;
  background-color: #000;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1.3px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  
}




